name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Update git submodules
        run: git submodule update --init --recursive

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
  
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install requirements
        run: |
          sudo apt-get -y update
          sudo apt-get -y install libmpv-dev
          sudo sh -c 'echo "deb http://archive.ubuntu.com/ubuntu/ questing main" >> /etc/apt/sources.list'
          sudo apt-get -y update
          sudo apt-get -y install libssl-dev libgtk-4-dev libadwaita-1-dev gettext nodejs flatpak-builder python3-aiohttp python3-tomlkit
          sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          sudo flatpak install -y \
            org.gnome.Sdk//49 \
            org.gnome.Platform//49 \
            org.freedesktop.Sdk.Extension.rust-stable//25.08 \
            org.freedesktop.Platform.ffmpeg-full//25.08 \
            org.freedesktop.Platform.VAAPI.Intel//25.08

      - name: Build flatpak package
        run: ./flatpak/build.sh
      - name: Upload flatpak package to release
        uses: softprops/action-gh-release@v2
        with:
          files: ./flatpak/*.flatpak